@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg use {
  stroke: white;
  stroke-width: 0;
}

text.spiral-text {
  fill: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  animation: typing 3.5s steps(40, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
